$color-primary-dark: #23664B;
$color-primary-medium: #2a805d;
$color-primary-light: #3bb382;

$color-secondary: #F1F4C4;
$color-black: #000;

$grid-width: 100rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
