.section-about {
  background-color: $color-secondary;
  margin-top: -30vh;
  padding: 15rem 0 25rem 0;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom,
  rgba($color-primary-light, 0.8),
  rgba($color-primary-dark, 0.8)),
  url(../img/imageHeader.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-maximes {
  background-color: $color-secondary;
  padding: 20rem 0 23rem 0;
  margin-top: -15vh;
  margin-bottom: -11vh;
}
